Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Fix rtl issues (#5483)
  src/components/tabs/HelpTab.vue
  src/components/tabs/LedStripTab.vue
  src/components/tabs/PidTuningTab.vue
  src/components/tabs/receiver-msp/ReceiverMspWindow.vue
  src/js/localization.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(mdns): browse via dns_sd on Apple targets
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/mdns.rs
  src-tauri/src/mdns/apple.rs
  src-tauri/src/mdns/generic.rs
  src-tauri/src/mdns/mod.rs
Due: none

feat(tcp): list bridges discovered over mDNS in the connect menu
  locales/en/messages.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/gen/android/app/src/main/AndroidManifest.xml
  src-tauri/src/lib.rs
  src-tauri/src/mdns.rs
  src/components/device-picker/ConnectButton.vue
  src/js/device_handler.js
  src/js/protocols/TauriTcp.js
  test/js/device_handler.test.js
  test/js/tauri_tcp_devices.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(ios): grant core commands and allow local networking
  src-tauri/capabilities/ios.json
  src-tauri/gen/apple/betaflight-app.xcodeproj/xcshareddata/xcschemes/betaflight-app_iOS.xcscheme
  src-tauri/gen/apple/betaflight-app_iOS/Info.plist
  src-tauri/gen/apple/project.yml
  src-tauri/tauri.conf.json
Due: none

fix(css): fall back to env() for the vertical safe-area insets
  src/css/main.less
Due: prettier --write --ignore-unknown

fix(mdns): drop link-local addresses and a dead daemon's stale list
  src-tauri/src/mdns/apple.rs
  src-tauri/src/mdns/generic.rs
  src-tauri/src/mdns/mod.rs
  src/App.vue
  src/components/status-bar/StatusBar.vue
  src/components/tabs/CliTab.vue
  src/css/theme.css
  src/js/tab_switch.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

test(device-handler): reset tcp state and pin the bridge list reactivity
  test/js/device_handler.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(app): phone shell navigation and full-screen webview
  src-tauri/build.rs
  src-tauri/gen/apple/Sources/betaflight-app/LocalNetworkPermission.swift
  src-tauri/src/lib.rs
  src/App.vue
  src/components/sidebar/Sidebar.vue
  src/components/sidebar/useVisibleTabs.js
  src/components/status-bar/StatusBar.vue
  src/components/tabs/BlackboxViewerTab.vue
  src/components/tabs/CliTab.vue
  src/css/main.less
  src/index.html
  src/js/main.js
  src/js/tab_switch.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(mdns): keep receiving events after a browse refresh
  src-tauri/src/mdns/generic.rs
Due: none

Pitot sensor data are added at the LiveSensorPanel
  locales/en/messages.json
  src/components/tabs/sensors/LiveSensorPanel.vue
  src/components/tabs/sensors/constants.js
  src/composables/useSensorGraph.js
  src/js/sensor_helpers.js
  src/stores/sensors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(shell): keep the CLI toolbar in flow and reshow the topbar on landing
  src/App.vue
  src/components/tabs/CliTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(autotune): derive phase margin from the open loop, target margin not bandwidth (#5406)
  locales/en/messages.json
  src/components/tabs/autotune/GainRecommendation.vue
  src/composables/useAutotune.js
  src/js/blackbox/spectral_analysis.js
  src/stores/autotune.js
  test/js/spectral_analysis.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

perf(tauri): push serial bytes instead of polling for them (#5466)
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/js/protocols/TauriSerial.js
  test/js/tauri_serial.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(app): mDNS bridge discovery and the phone shell redesign (#5477)
  locales/en/messages.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/capabilities/ios.json
  src-tauri/gen/android/app/src/main/AndroidManifest.xml
  src-tauri/gen/apple/Sources/betaflight-app/LocalNetworkPermission.swift
  src-tauri/gen/apple/betaflight-app.xcodeproj/xcshareddata/xcschemes/betaflight-app_iOS.xcscheme
  src-tauri/gen/apple/betaflight-app_iOS/Info.plist
  src-tauri/gen/apple/project.yml
  src-tauri/src/lib.rs
  src-tauri/src/mdns/apple.rs
  src-tauri/src/mdns/generic.rs
  src-tauri/src/mdns/mod.rs
  src-tauri/tauri.conf.json
  src/App.vue
  src/components/device-picker/ConnectButton.vue
  src/components/sidebar/Sidebar.vue
  src/components/sidebar/useVisibleTabs.js
  src/components/status-bar/StatusBar.vue
  src/components/tabs/BlackboxViewerTab.vue
  src/components/tabs/CliTab.vue
  src/css/main.less
  src/css/theme.css
  src/index.html
  src/js/device_handler.js
  src/js/main.js
  src/js/protocols/TauriTcp.js
  src/js/tab_switch.js
  test/js/device_handler.test.js
  test/js/tauri_tcp_devices.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(virtual-fc): use reportable build options
  src/js/Features.js
  src/js/VirtualFC.js
  test/js/virtual_fc_build_options.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

chore(virtual-fc): add JSDoc types
  src/js/Features.js
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix tooltip and other NuxtUI elements in RTL
  src/App.vue
  src/components/elements/HelpIcon.vue
  src/js/localization.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

The pitot sensors select list is added at the pitot sensors users interface
  locales/en/messages.json
  src/components/tabs/SensorsTab.vue
  src/js/fc.js
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(status-bar): add missing i18n keys and keep phone controls off other layouts
  locales/en/messages.json
  src/components/status-bar/StatusBar.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Saved checkbox array migration from previous version
  src/stores/sensors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(app): give Nuxt UI a locale so RTL languages lay out correctly
  src/App.vue
  src/blackbox-viewer/components/HelpIcon.vue
  src/components/elements/HelpIcon.vue
  src/composables/useUiLocale.js
  test/js/useUiLocale.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: make PITOT_DEFAULT selectable, hide PITOT_NONE
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(deps): stop package-lock.json being rewritten by every PR
  .github/workflows/test.yml
  README.md
  package-lock.json
  package.json
Due: none

refactor(app): keep one locale list and test the real language switch
  src/App.vue
  src/composables/useUiLocale.js
  src/composables/useUiLocale.ts
  src/js/localization.js
  test/js/useUiLocale.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

test: add @vue/test-utils and the first component tests
  package-lock.json
  package.json
  test/components/ChannelRangePips.test.js
  test/components/SubtabNav.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

ci(lockfile): harden the drift job after review
  .github/workflows/test.yml
Due: none

chore(deps): sync in-range dependencies and fix the uuid advisory
  package-lock.json
  package.json
Due: none

fix(virtual-fc): use reportable build options (#5489)
  src/js/Features.js
  src/js/VirtualFC.js
  test/js/virtual_fc_build_options.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: stop the app scrolling sideways on a phone
  src/components/elements/SettingRow.vue
  src/components/tabs/LedStripTab.vue
  src/components/tabs/led_strip/LedGridPoint.vue
  src/css/main.less
  src/index.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(mobile): size the LED grid to the container and give back pinch zoom
  src/components/tabs/LedStripTab.vue
  src/components/tabs/led_strip/LedGridPoint.vue
  src/css/main.less
  src/index.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

ci: move actions off the deprecated Node 20 runtime
  .github/workflows/build.yml
  .github/workflows/deploy_cloudflare.yml
  .github/workflows/stale.yaml
  .github/workflows/tauri-android-release.yml
  .github/workflows/tauri-ios-release.yml
  .github/workflows/tauri-nightly.yml
  .github/workflows/tauri-pr-build.yml
  .github/workflows/tauri-release-assets.yml
Due: none

Delete locales/ca/messages.json
  locales/ca/messages.json
Due: none

Delete locales/da/messages.json
  locales/da/messages.json
Due: none

Delete locales/de/messages.json
  locales/de/messages.json
Due: none

Delete locales/es/messages.json
  locales/es/messages.json
Due: none

Delete locales/eu/messages.json
  locales/eu/messages.json
Due: none

Delete locales/fr/messages.json
  locales/fr/messages.json
Due: none

Delete locales/gl/messages.json
  locales/gl/messages.json
Due: none

Delete locales/it/messages.json
  locales/it/messages.json
Due: none

Delete locales/ko/messages.json
  locales/ko/messages.json
Due: none
