Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Change GNSS map button order
  src/tabs/gps.html
Due: none

Remove unsupported
  locales/en/messages.json
  src/tabs/onboard_logging.html
Due: none

Repeat check for not cancelled for consistency
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Only close dialog when open
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix star button not working in preset card
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Cursor pointer on favorite button
  src/tabs/presets/TitlePanel/PresetTitlePanel.css
Due: prettier --write --ignore-unknown

Add initial Tauri v2 support
  .gitignore
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/icons/bf_icon_128.png
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add native tauri check
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/tauri.conf.json
  src/js/utils/checkBrowserCompatibility.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add Tauri v2 shell:allow-open capability
  package.json
  src-tauri/capabilities/default.json
  src-tauri/tauri.conf.json
  yarn.lock
Due: none

Update
  src-tauri/Cargo.toml
Due: none

Add DockerFile (needs testing)
  DOCKER.MD
  DockerFile
Due: none

Update edition
  src-tauri/Cargo.toml
Due: none

Update DOCKER.MD
  DOCKER.MD
Due: none

Fix star (favorite) button not working in preset card (#4678)
  src/tabs/presets/TitlePanel/PresetTitlePanel.css
  src/tabs/presets/presets.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix autoconnect for plugins (#4674)
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Localization fix
  src/css/tabs/adjustments.less
  src/js/tabs/adjustments.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix app security capabilities
  src-tauri/tauri.conf.json
Due: none

Fix outdated versions
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  yarn.lock
Due: none

Fix shell open
  src-tauri/tauri.conf.json
Due: none

Add android commands
  package.json
Due: none

Use yarn for docker
  DockerFile
Due: none

Use cargo
  package.json
Due: none

Fix yarn tauri:android:dev
  android-env.sh
  package.json
  src-tauri/Cargo.toml
  src-tauri/src/lib.rs
  src/js/utils/checkBrowserCompatibility.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

isTauri does not work with Android
  package.json
  src/js/utils/checkBrowserCompatibility.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update path for ADB
  ANDROID.md
  package.json
Due: none

Use run-script-os
  package.json
Due: none

Fix HMR on android
  ANDROID.md
  package.json
  src/js/utils/checkBrowserCompatibility.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove redundant alias
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Avoid device offline races
  package.json
Due: none

👾
  package.json
Due: none

add equivalent boot completion check to Windows version
  package.json
Due: none

Fix sonar
  android-env.sh
  src/js/utils/checkBrowserCompatibility.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Nitpicks
  android-env.sh
Due: none

Added support for tauriserial
  eslint.config.js
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/js/port_handler.js
  src/js/serial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Added support for tauriserial II
  src/js/protocols/TauriSerial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Responsive layout in Adjustments tab (#4675)
  src/css/tabs/adjustments.less
  src/js/tabs/adjustments.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update DOCKER.md
  DOCKER.md
Due: none

Update
  DOCKER.MD
  src-tauri/Cargo.toml
  src-tauri/capabilities/default.json
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: none

Fix broken pipe, reconnect, unplug
  src/js/protocols/TauriSerial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix some sonar issues
  src/js/port_handler.js
  src/js/protocols/TauriSerial.js
  src/js/serial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue
