Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Update to latest Node 24.12.0LTS version
  .nvmrc
  package.json
  yarn.lock
Due: none

fix: replace deprecated 'husky install' with 'husky' in prepare script
  package.json
Due: none

chore: remove deprecated Husky v4 config from package.json
  package.json
Due: none

FIX: Corrected release path for attaching APK to release (#4758)
  .github/workflows/build-release.yml
Due: none

FIX: Corrected path for artifacts during release (#4759)
  .github/workflows/build-release.yml
Due: none

Update to latest Node 24.12.0LTS version (#4760)
  .nvmrc
  package.json
  yarn.lock
Due: none

Apply suggestion from @haslinghuis
  package.json
Due: none

Don't use registerSW for Android
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: replace deprecated 'husky install' with 'husky' in prepare script (#4761)
  package.json
Due: none

Don't use registerSW for Android (#4762)
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix preset details bottom bar on mobile
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.html
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.less
Due: prettier --write --ignore-unknown

Fix preset details bottom bar on mobile (#4763)
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.html
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.less
Due: prettier --write --ignore-unknown

Add OSD time variant
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Fix servos UI on mobile
  src/css/main.less
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Adjust scrollbar height
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix save button position & bottom padding
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Fix servos UI on mobile (#4767)
  src/css/main.less
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Responsive GPS tab
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

move into existing style block
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Adding initial login and user profile tab
  .gitignore
  WEBAUTHN_SETUP.md
  locales/en/messages.json
  package.json
  src/components/tabs/Backups.vue
  src/components/tabs/UserProfile.vue
  src/css/main.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/privacy_policy.less
  src/css/tabs/static_tab.less
  src/css/tabs/userprofile.less
  src/images/icons/icon_user_profile_grey.svg
  src/images/icons/icon_user_profile_white.svg
  src/index.html
  src/js/BuildApi.js
  src/js/LoginApi.js
  src/js/LoginManager.js
  src/js/UserApi.js
  src/js/browserMain.js
  src/js/gui.js
  src/js/main.js
  src/js/vue_components.js
  src/tabs/privacy_policy.html
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fixed awaits
  src/js/LoginManager.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Just in case profile is not set.
  src/components/tabs/UserProfile.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Updated to email
  src/index.html
Due: none

Clean up and adding passkey grid
  src/components/tabs/UserProfile.vue
  src/css/main.less
  src/js/LoginApi.js
  src/js/LoginManager.js
  src/js/UserApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Rabbit requests
  src/css/main.less
  src/js/LoginApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Adding additional check before loading profile (was failing).
  src/css/main.less
  src/js/LoginApi.js
  src/js/LoginManager.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use config storage for access tokens, so they are reused across LoginApi instances (less requests)
  src/js/LoginApi.js
  src/js/UserApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Adding initial login, with backup and user profile tabs
  .gitignore
  WEBAUTHN_SETUP.md
  locales/en/messages.json
  package.json
  src/components/betaflight-logo/BetaflightLogo.vue
  src/components/tabs/Backups.vue
  src/components/tabs/UserProfile.vue
  src/components/user-session/UserSession.js
  src/components/user-session/UserSession.stories.js
  src/components/user-session/UserSession.vue
  src/css/main.less
  src/css/tabs/firmware_flasher.less
  src/css/tabs/privacy_policy.less
  src/css/tabs/static_tab.less
  src/css/tabs/userprofile.less
  src/images/default-user-avatar.png
  src/images/default-user-avatar.png:Zone.Identifier
  src/images/icons/icon_user_profile_grey.svg
  src/images/icons/icon_user_profile_white.svg
  src/index.html
  src/js/BuildApi.js
  src/js/LoginApi.js
  src/js/LoginManager.js
  src/js/UserApi.js
  src/js/browserMain.js
  src/js/gui.js
  src/js/main.js
  src/js/vue_components.js
  src/tabs/privacy_policy.html
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Rabbit requests
  src/components/tabs/Backups.vue
  src/components/tabs/UserProfile.vue
  src/components/user-session/UserSession.js
  src/js/LoginApi.js
  src/js/LoginManager.js
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Content header update
  src/js/UserApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove WSL offending file
  src/images/default-user-avatar.png:Zone.Identifier
Due: none

Sonar cloud updates
  src/components/user-session/UserSession.js
  src/js/BuildApi.js
  src/js/LoginApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update build options to reflect API change using camelCase
  src/js/serial_backend.js
  src/js/utils/AutoDetect.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Now logging expiryDate correctly
  src/js/LoginApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Return empty array when no options were retrieved from API
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Adding more localisations
  locales/en/messages.json
  src/components/tabs/Backups.vue
  src/components/tabs/UserProfile.vue
  src/js/UserApi.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fixing broken localisation
  locales/en/messages.json
  src/components/tabs/Backups.vue
  src/components/tabs/UserProfile.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Some more localisation missed.
  locales/en/messages.json
  src/components/tabs/UserProfile.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update locales/en/messages.json
  locales/en/messages.json
Due: none
