Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use UTable I
  src/components/tabs/PreflightTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use UTable II + TailWind
  src/components/tabs/PreflightTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use xs
  src/components/tabs/PreflightTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Gate MSP CLI actions behind firmware 4.5.4
  locales/en/messages.json
  src/components/tabs/BackupsTab.vue
  src/components/tabs/PresetsTab.vue
  src/composables/useMspCliSession.js
  test/js/useMspCliSession.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: Use canonical class names for important classes
  src/components/tabs/FirmwareFlasherTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Move Nuxt UI config into its own file
  nuxt-ui.vite.js
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Make the switch thumb white
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Fix Tailwind source path, clean up bandaid z-index classes
  nuxt-ui.vite.js
  src/components/tabs/OnboardLoggingTab.vue
  src/components/tabs/presets/PresetFilterSelect.vue
  src/css/theme.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Standardize SetupTab UiBox usage
  src/components/elements/UiBox.vue
  src/components/tabs/SetupTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Add a stable scrollbar gutter to the tab sidebar
  src/css/main.less
Due: prettier --write --ignore-unknown

Style: Adjust BatteryIcon margins and enhance StatusBar layout with Nuxt UI separators
  src/components/status-bar/StatusBar.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Enhancement: Defer loading Ports table to improve tab switching time
  src/components/tabs/PortsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Clean up sidebar spacing, add a primary background color for active tab
  src/components/sidebar/Sidebar.vue
  src/components/user-session/UserSession.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: Improve battery profile check logic to avoid empty selection boxes
  src/composables/usePower.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Make toolbar buttons across all tabs consistent
  src/components/tabs/AdjustmentsTab.vue
  src/components/tabs/AuxiliaryTab.vue
  src/components/tabs/CliTab.vue
  src/components/tabs/ConfigurationTab.vue
  src/components/tabs/FailsafeTab.vue
  src/components/tabs/GpsTab.vue
  src/components/tabs/LedStripTab.vue
  src/components/tabs/LoggingTab.vue
  src/components/tabs/MotorsTab.vue
  src/components/tabs/OnboardLoggingTab.vue
  src/components/tabs/OsdTab.vue
  src/components/tabs/PidTuningTab.vue
  src/components/tabs/PortsTab.vue
  src/components/tabs/PowerTab.vue
  src/components/tabs/PresetsTab.vue
  src/components/tabs/ReceiverTab.vue
  src/components/tabs/ServosTab.vue
  src/components/tabs/VtxTab.vue
  src/composables/usePower.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Make UiBox colors match stable build
  src/components/tabs/FailsafeTab.vue
  src/components/tabs/FlightPlan/ElevationProfile.vue
  src/components/tabs/FlightPlan/FlightPlanMap.vue
  src/components/tabs/FlightPlan/WaypointList.vue
  src/components/tabs/LoggingTab.vue
  src/components/tabs/MotorsTab.vue
  src/components/tabs/OsdTab.vue
  src/components/tabs/PortsTab.vue
  src/components/tabs/SensorsTab.vue
  src/components/tabs/ServosTab.vue
  src/components/tabs/sensors/SensorGraph.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Improve tab layout consistency, replace all old note implementations with highlighted UiBox
  src/components/elements/UiBox.vue
  src/components/tabs/AdjustmentsTab.vue
  src/components/tabs/CliTab.vue
  src/components/tabs/FlightPlan/WaypointList.vue
  src/components/tabs/LedStripTab.vue
  src/components/tabs/LoggingTab.vue
  src/components/tabs/PowerTab.vue
  src/components/tabs/ReceiverTab.vue
  src/components/tabs/SensorsTab.vue
  src/components/tabs/ServosTab.vue
  src/components/tabs/VtxTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Add Tauri desktop release workflow (#5040)
  .github/workflows/tauri-release.yml
  package-lock.json
  src-tauri/tauri.conf.json
Due: none

Fix: UI classes for the sidebar don't get overridden
  src/components/sidebar/Sidebar.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: Add import for UiBox to CLI tab
  src/components/tabs/CliTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Chore: Remove commented-out code
  src/components/tabs/OnboardLoggingTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Enhancement: Improve ports tab loading state
  src/components/tabs/PortsTab.vue
  src/composables/ports/usePortsState.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: Improve serialization/loading for dirty data in Modes and Power tabs
  src/components/tabs/AuxiliaryTab.vue
  src/composables/usePower.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix failsafe tab SVG images
  src/components/tabs/FailsafeTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Fix 3d model canvas sizing
  src/components/tabs/SetupTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix violation - forced reflow (#5055)
  src/composables/useSensorGraph.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add nightly downloads workflow and index generator
  .github/workflows/tauri-nightly.yml
  scripts/generate-downloads-index.mjs
  scripts/templates/downloads-index.html
Due: none

Add nightly downloads page preview for PR #5065
  nightly-downloads-preview.png
Due: none

Use plain filename anchors instead of card buttons on the downloads index
  scripts/generate-downloads-index.mjs
  scripts/templates/downloads-index.html
Due: none

Refresh preview after switching to filename anchors
  nightly-downloads-preview.png
Due: none

Refresh preview with real upstream releases
  nightly-downloads-preview.png
Due: none

Address PR review on nightly downloads workflow and index
  .github/workflows/tauri-nightly.yml
  scripts/generate-downloads-index.mjs
Due: none

Refresh preview after review fixes (4-year list + footer note)
  nightly-downloads-preview.png
Due: none

Address PR review on parseArgs and recent-releases empty state
  scripts/generate-downloads-index.mjs
Due: none

Fix motors tab dirty state and formatting
  src/components/tabs/MotorsTab.vue
  src/composables/motors/useMotorConfiguration.js
  src/composables/motors/useMotorsState.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Nightly Tauri + APK builds, downloads.betaflight.com index (#5065)
  .github/workflows/tauri-nightly.yml
  scripts/generate-downloads-index.mjs
  scripts/templates/downloads-index.html
Due: none

Fix nightly workflow: align Tauri versions, drop AWS STS round-trip
  .github/workflows/tauri-nightly.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Fix nightly downloads workflow: Tauri versions + R2 credentials (#5067)
  .github/workflows/tauri-nightly.yml
  package-lock.json
  package.json
  yarn.lock
Due: none

Pin Tauri Rust toolchain to 1.95.0
  .github/workflows/tauri-nightly.yml
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
