Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Workaround for Chrome 140 issues (#4600)
  src/js/utils/common.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update Vite dependencies
  package.json
  yarn.lock
Due: none

Update Vite dependencies (#4601)
  package.json
  yarn.lock
Due: none

Removed wording "Roll" in Pitch Tab #4574
  locales/de/messages.json
  locales/en/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
Due: none

Revert non-English locale changes, keep only English locale updates
  locales/en/messages.json
  locales/es/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/zh_CN/messages.json
Due: none

Removed wording "Roll" in Pitch sliders
  locales/en/messages.json
Due: none

Fix typos and clarity in PID sliders help text Issue #4574
  locales/en/messages.json
Due: none

Add FLASH_TEST_PRBS debug mode
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove IMU alignment from UI (#4590)
  locales/en/messages.json
  src/css/tabs/configuration.less
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/configuration.js
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix local en craft_name
  locales/en/messages.json
Due: none

Reduce Tippy font size
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix gyro enable box
  locales/en/messages.json
  src/js/tabs/configuration.js
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add FLASH_TEST_PRBS debug mode (#4606)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix local en craft_name (#4609)
  locales/en/messages.json
Due: none

Reduce Tippy font size (#4610)
  src/css/main.less
Due: prettier --write --ignore-unknown

Fix gyro enable box (#4611)
  locales/en/messages.json
  src/js/tabs/configuration.js
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Update virtual mode version string to 2025.12.* for MSP 1.47.0
  src/components/port-picker/FirmwareVirtualOption.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Remove unused version string generator function
  src/js/utils/common.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor: Update virtual mode FC version and add missing identifier
  src/js/VirtualFC.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Replace multiple select in onboard logging
  locales/en/messages.json
  src/js/tabs/onboard_logging.js
  src/tabs/onboard_logging.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Adds support for Airbot Theia OSD (#4476)
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style Fix: Re-implement headerbar expanding for mobile
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Chrome v140 workaround - Replace multiple select in onboard logging (#4614)
  locales/en/messages.json
  src/js/tabs/onboard_logging.js
  src/tabs/onboard_logging.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

UX: Implement modern collapse/expand indication
  src/css/main.less
  src/index.html
Due: prettier --write --ignore-unknown

Fix: Update/remove usage of the "4.6" version string within Virtual Mode labels (#4613)
  src/components/port-picker/FirmwareVirtualOption.vue
  src/js/VirtualFC.js
  src/js/utils/common.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style Fix: Re-implement headerbar expanding for mobile (#4615)
  src/css/main.less
  src/index.html
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style Fix: Remove unnecessary padding from mobile tabs
  src/css/main.less
Due: prettier --write --ignore-unknown

Style Fix: Even padding on tabs
  src/css/main.less
Due: prettier --write --ignore-unknown

Style Fix: Unify mid content box color with the rest of the UI
  src/css/tabs/landing.less
Due: prettier --write --ignore-unknown

Style Fix: Adjust PID/Rateprofile selection
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

Ingore CRC on dataFlash Reads
  src/js/msp/MSPHelper.js
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Centralize timer cleanup
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve duplicate message detection by also checking payload
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add queue elements for debugging
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fixes per review coderabbit
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve timeout optimization
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add lazy init
  src/js/msp/msp_queue_monitor.js
  src/js/msp/msp_stress_test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix sonar
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add dynamic retries
  src/js/msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
