Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use optional chain expression
  src/js/protocols/WebBluetooth.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve logging and fix reader cancelation
  src/js/protocols/WebSerial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

# Remove redundant await in async function (not within try/catch block)
  src/js/serial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove empty file
  src/js/WebBluetooth.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix BT reboot and CRC issues
  src/js/WebBluetooth.js
  src/js/protocols/WebBluetooth.js
  src/js/protocols/__tests__/WebBluetooth.test.js
  src/js/serial.js
  src/js/utils/AutoDetect.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix serial disconnect promise return
  src/js/serial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update autoconnect
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix reconnection issues
  src/js/protocols/WebBluetooth.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix repeated logging when device null
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix autoconnect in eventbus handler
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Pleasing sonar
  src/js/protocols/WebSerial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove space on EOL
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add message for motor direction dialog
  locales/en/messages.json
  src/components/EscDshotDirection/Body.html
Due: none

Update locales/en/messages.json
  locales/en/messages.json
Due: none

new layout; not 100% sure about it.
  src/tabs/firmware_flasher.html
Due: none

Add OSD variant for RTC element
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

modify flasher tab layout, 2 columns, move warning 2nd last
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Prevent multiple calls to handleDisconnect
  src/js/protocols/webstm32.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

remove deprecated husky shell wrapper
  .husky/pre-commit
Due: none

Motor direction is saved upon selection (#4427)
  locales/en/messages.json
  src/components/EscDshotDirection/Body.html
Due: none

Update src/tabs/firmware_flasher.html
  src/tabs/firmware_flasher.html
Due: none

remove deprecated husky shell wrapper (#4430)
  .husky/pre-commit
Due: none

Add OSD variant for RTC element (#4428)
  locales/en/messages.json
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat: open options-tab on first visit (#4426)
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add support for ICM45686
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
Due: none

modify flasher tab layout (#4429)
  src/css/tabs/firmware_flasher.less
  src/tabs/firmware_flasher.html
Due: prettier --write --ignore-unknown

Prevent multiple calls to handleDisconnect (#4431)
  src/js/protocols/webstm32.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Cleanup reinitializeConnection
  src/components/MotorOutputReordering/MotorOutputReorderingComponent.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/servos.js
  src/tabs/presets/CliEngine.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix caching issue (#4425)
  src/index.html
Due: none

Cleanup reinitializeConnection (#4423)
  src/components/MotorOutputReordering/MotorOutputReorderingComponent.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/cli.js
  src/js/tabs/servos.js
  src/tabs/presets/CliEngine.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Do not use OSD selection for 4.3.x
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Request permission before connecting DFU device
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

add x sampling to throttle curve preview to match firmware
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix DFU permissions
  locales/en/messages.json
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Little refactor
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Do not use OSD selection for 4.3.x (#4437)
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix dfu permissions (#4438)
  locales/en/messages.json
  src/components/port-picker/PortsInput.vue
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add GD32 VCP support
  src/js/protocols/devices.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Clamp throttle value to the range [0, 1] in PID tuning initialization to avoid senseless output
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
