Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): separate Check from calibration mode dropdown
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(flasher): accept "warning" color in ProgressRing validator
  src/components/ProgressRing.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(flasher): highlight selected option and green check in dropdowns
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(flasher): darken dropdown check indicator in light mode for WCAG
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(flasher): restore hover feedback on selected dropdown row
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

style(theme): fill out --warning-* token family
  src/css/theme.css
Due: prettier --write --ignore-unknown

fix(flasher): give ProgressRing warning enough contrast in light mode
  src/components/ProgressRing.vue
  src/css/theme.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(flasher): swap selected-row highlight to primary (brand) colour
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

docs(agents): add AGENTS.md to steer AI-assisted contributions
  .gitignore
  AGENTS.md
Due: none

docs(agents): expand AGENTS.md with enforcement ledger and Vue 3 RFC content
  AGENTS.md
Due: none

docs(agents): add blank lines around tables (markdownlint MD058)
  AGENTS.md
Due: none

style(theme): unify Roll/Pitch/Yaw and X/Y/Z axis colors to RGB across all tabs
  src/components/tabs/MotorsTab.vue
  src/components/tabs/PidTuningTab.vue
  src/components/tabs/ReceiverTab.vue
  src/components/tabs/autotune/BodePlot.vue
  src/components/tabs/autotune/GainRecommendation.vue
  src/components/tabs/autotune/SpectrogramPlot.vue
  src/components/tabs/pid-tuning/RatesSubTab.vue
  src/components/tabs/sensors/SensorGraph.vue
  src/css/main.less
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): save mag cal values to RAM without reboot
  src/composables/useMagCalibration.js
  test/js/useMagCalibration.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): hide progress bar in Check mode
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): update Check mode instruction text
  locales/en/messages.json
Due: none

fix(sensors): hide sample count in Check mode
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): rename RSS to Field for total mag field strength label
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): darken mag cal live data text for readability
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): ensure axis lines render on top of field reference arrow
  src/components/dialogs/mag-calibration/MagSphereView.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): use average field strength for dot scaling instead of max
  src/components/dialogs/mag-calibration/MagSphereView.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): replace generic guided cal prompts with 6 orientation steps
  locales/en/messages.json
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): gate Check mode behind MSP CLI support (API >= 1.47)
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): show legacy-only calibrate button for API < 1.47
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): show mag alignment for all API versions, gate detect button
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): gate calGuidedAvailable behind API >= 1.47, not just firmware version
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(sensors): add HelpIcon and w-fit to legacy mag calibrate button
  src/components/tabs/SensorsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(flasher): highlight selected option in Board & Build dropdowns (#5139)
  nuxt-ui.vite.js
  src/components/ProgressRing.vue
  src/css/theme.css
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

style(theme): unify Roll/Pitch/Yaw and X/Y/Z axis colors to RGB across all tabs (#5142)
  src/components/tabs/MotorsTab.vue
  src/components/tabs/PidTuningTab.vue
  src/components/tabs/ReceiverTab.vue
  src/components/tabs/autotune/BodePlot.vue
  src/components/tabs/autotune/GainRecommendation.vue
  src/components/tabs/autotune/SpectrogramPlot.vue
  src/components/tabs/pid-tuning/RatesSubTab.vue
  src/components/tabs/sensors/SensorGraph.vue
  src/css/main.less
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

chore: remove issues.md from version control
  issues.md
Due: none

feat(sensors): add quaternion attitude and guided mag calibration mode (#5123)
  locales/en/messages.json
  src/components/dialogs/mag-calibration/MagCalOffsetEditor.vue
  src/components/dialogs/mag-calibration/MagOrientationDiagram.vue
  src/components/dialogs/mag-calibration/MagSphereView.vue
  src/components/tabs/SensorsTab.vue
  src/composables/useMagCalibration.js
  src/js/fc.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  test/js/msp/MSPHelper.test.js
  test/js/useMagCalibration.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(ui): use black text on solid primary buttons in light mode
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(ui): restore disabled text appearance on primary solid buttons
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(ui): use black text on solid primary buttons in light mode (#5144)
  nuxt-ui.vite.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat(port-picker): update connect/disconnect button labels for virtual mode
  locales/en/messages.json
  src/components/port-picker/ConnectButton.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add USB serial filter for X32
  android/app/src/main/java/betaflight/app/protocols/dfu/BetaflightDfuPlugin.java
  android/app/src/main/res/xml/device_filter.xml
  src/js/protocols/devices.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
Due: none

fix(port-picker): change connectVirtual label from "Virtual" to "Connect (Virtual)"
  locales/en/messages.json
Due: none

feat(port-picker): append connection-type suffix to disconnect button label
  locales/en/messages.json
  src/components/port-picker/ConnectButton.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

feat: automatic board alignment wizard
  locales/en/messages.json
  src/components/dialogs/BoardAlignmentWizardDialog.vue
  src/components/dialogs/GlobalDialogs.vue
  src/components/tabs/SensorsTab.vue
  src/js/utils/boardAlignment.js
  src/js/utils/magAlignment.js
  test/js/board_alignment.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

chore: remove steps from intro
  src/components/dialogs/BoardAlignmentWizardDialog.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
