Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix missing table row
  src/tabs/setup.html
Due: none

Improve debug logging
  src/js/port_handler.js
  src/js/protocols/websocket.js
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove condition
  src/js/port_handler.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update logHead
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/protocols/websocket.js
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve debug logging (#4354)
  src/js/port_handler.js
  src/js/protocols/bluetooth.js
  src/js/protocols/websocket.js
  src/js/protocols/webstm32.js
  src/js/protocols/webusbdfu.js
  src/js/serial_backend.js
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update latlon (#4349)
  locales/en/messages.json
  src/js/VirtualFC.js
  src/js/fc.js
  src/js/msp/MSPHelper.js
  src/js/tabs/gps.js
  src/js/tabs/setup.js
  src/tabs/gps.html
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Fixed collapsed sidebar
  src/css/main.less
Due: prettier --write --ignore-unknown

Need expert mode for reset
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Change verbiage and remove unused parameter
  locales/en/messages.json
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Need expert mode for reset (#4357)
  locales/en/messages.json
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add info overlay about gyro status over model view
  locales/en/messages.json
  src/css/main.less
  src/css/tabs/setup.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix icons in sidebar & scrollbar
  src/css/main.less
Due: prettier --write --ignore-unknown

Fixed collapsed sidebar (#4356)
  src/css/main.less
Due: prettier --write --ignore-unknown

Add info overlay about gyro status over model view (#4358)
  locales/en/messages.json
  src/css/main.less
  src/css/tabs/setup.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use native capacitor api
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove commands
  package.json
Due: none

Update capacitor and browser compat check
  .gitattributes
  .gitignore
  android/app/capacitor.build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  package.json
  src/js/utils/checkBrowserCompatibilty.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Revert "Add info overlay about gyro status over model view (#4358)"
  locales/en/messages.json
  src/css/main.less
  src/css/tabs/setup.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update capacitor and browser compat check (#4359)
  .gitattributes
  .gitignore
  android/app/capacitor.build.gradle
  android/build.gradle
  android/gradle/wrapper/gradle-wrapper.properties
  package.json
  src/js/utils/checkBrowserCompatibilty.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Revert "Add info overlay about gyro status over model view" (#4361)
  locales/en/messages.json
  src/css/main.less
  src/css/tabs/setup.less
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix useragentdata check
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix macOS useragentdata check (#4363)
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix motorIdle
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix motorIdle being hidden in previous versions (#4364)
  src/js/tabs/motors.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

works locally
  src/js/tabs/options.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove console.log
  src/js/tabs/options.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix it
  src/js/main.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Set no dialog by default
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Alternative
  locales/en/messages.json
  src/js/main.js
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Make backup on flash an option
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Just ask
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Move initialization to main
  src/js/main.js
  src/js/tabs/options.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Upate eslint dependencies
  package.json
  yarn.lock
Due: none

Add Chrome OS platform
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Platform should not be a condition here
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Upate eslint dependencies (#4367)
  package.json
  yarn.lock
Due: none

Remove platform from browser dependency check (#4366)
  src/js/utils/checkBrowserCompatibilty.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update dependencies
  package.json
  yarn.lock
Due: none

Update storybook
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
