Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Added manticore v1 & v2
  locales/en/messages.json
  src/js/msp/MSPHelper.js
  src/js/tabs/osd.js
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Disable modal window
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix custom mag_alignment (#4624)
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style Fix: Large overhaul of PID Tuning tab
  src/css/main.less
  src/css/tabs/pid_tuning.less
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown

Style Fix: Prevent width shifting when ARM prevention flags change
  src/css/tabs/setup.less
  src/tabs/setup.html
Due: prettier --write --ignore-unknown

Style Fix: Unify presets dropdown with pid/rateprofile dropdown
  src/tabs/presets/presets.less
Due: prettier --write --ignore-unknown

Style Fix: Adjust motor settings layout and improve spacing
  src/css/tabs/motors.less
  src/tabs/motors.html
Due: prettier --write --ignore-unknown

Style Fix: Use custom scrollbar not just for tabs
  src/css/main.less
Due: prettier --write --ignore-unknown

Style Fix: Correct parent element hiding for auto disarm delay input
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style Fix: Improve layout and spacing for help icons in configuration inputs
  src/css/main.less
  src/css/tabs/motors.less
  src/tabs/configuration.html
Due: prettier --write --ignore-unknown

Style Fix: Update small button styles
  src/css/tabs/configuration.less
Due: prettier --write --ignore-unknown

Style Fix: Replace 'select' with 'number' for GPS configuration
  src/tabs/gps.html
Due: none

Style Fix: Re-adjust spacing for motor/esc settings
  src/css/tabs/motors.less
Due: prettier --write --ignore-unknown

Style Fix: Address SonarCloud
  src/css/tabs/pid_tuning.less
Due: prettier --write --ignore-unknown

Fix: Re-name JS selectors to match updated classes
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: Forgot dots
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update gyro sensor info
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  src/js/tabs/configuration.js
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

retain data aftwer CRC errors, when possible
  src/js/msp.js
  src/js/msp/MSPHelper.js
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix compression estimate
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Style: Fix various small UI inconsistencies (#4616)
  src/css/main.less
  src/css/tabs/configuration.less
  src/css/tabs/landing.less
  src/css/tabs/motors.less
  src/css/tabs/pid_tuning.less
  src/css/tabs/setup.less
  src/js/tabs/configuration.js
  src/js/tabs/gps.js
  src/tabs/configuration.html
  src/tabs/gps.html
  src/tabs/motors.html
  src/tabs/pid_tuning.html
  src/tabs/presets/presets.less
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add missing GPS Rescue Throttle PID fields
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Added skeleton
  locales/en/messages.json
  locales/uk/messages.json
  package.json
  src/index.html
  src/js/gui.js
  src/js/main.js
  src/js/tabs/norn_config.js
  src/norn-configs/template.ejs
  src/tabs/norn_config.html
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix THREE import
  src/js/utils/three/CanvasRenderer.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix THREE import (#4631)
  src/js/utils/three/CanvasRenderer.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add missing GPS Rescue Throttle PID debug fields (#4630)
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve msp
  src/js/msp.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

remove unused callbackonerror
  src/js/msp.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix failsafe bug: Show return altitude field for fixed altitude mode on first load (#4629)
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Improve msp send (#4510)
  src/js/main.js
  src/js/msp.js
  src/js/msp/MSPHelper.js
  src/js/msp/debug/MSP_DEBUG_README.md
  src/js/msp/debug/index.js
  src/js/msp/debug/msp_debug_dashboard.js
  src/js/msp/debug/msp_debug_tools.js
  src/js/msp/debug/msp_queue_monitor.js
  src/js/msp/debug/msp_stress_test.js
  src/js/msp/debug/msp_test_runner.js
  src/js/utils/checkBrowserCompatibility.js
  test/js/msp/MSPHelper.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix GPS tab
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

CR I
  src/js/tabs/gps.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add QMC5883P
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix GPS tab (#4633)
  src/js/tabs/gps.js
  src/tabs/gps.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Enable servo tab for WING define
  src/js/serial_backend.js
  src/js/utils/updateTabList.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

chatGpt one retry attempt
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

propertly handle user cancel
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Resolved missing DEBUG modes
  src/js/debug.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

use writechunk
  src/js/FileSystem.js
  src/js/tabs/logging.js
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

try 5 retries not just one
  src/js/tabs/onboard_logging.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
