Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

Remove wsSerial protocol to allow communication with websockify.
  src/js/protocols/websocket.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Follow best practices and use an array to define subprotocols, including binary one used by websockify
  src/js/protocols/websocket.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add binary sub protocol to allow communication with websockify. (#4303)
  src/js/protocols/websocket.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix socket reset
  src/js/protocols/websocket.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix dropdown being disabled
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update sonar elements
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add MCU_INFO MSP support
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix socket reset (#4304)
  src/js/protocols/websocket.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove MCU table
  src/js/fc.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

add missing initializer
  src/js/fc.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add MCU_INFO MSP support (#4306)
  locales/en/messages.json
  src/js/fc.js
  src/js/msp/MSPCodes.js
  src/js/msp/MSPHelper.js
  src/js/serial_backend.js
  src/js/tabs/setup.js
  src/tabs/setup.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Dynamic GPS Rescue 'return altitude' field + removed unnecessary warning
  locales/en/messages.json
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update sonar elements (#4305)
  src/js/tabs/setup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Dynamic “return altitude” field in GPS Rescue tab (#4308)
  locales/en/messages.json
  src/js/tabs/failsafe.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update Beepers.js
  src/js/Beepers.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update webSerial.js
  src/js/webSerial.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update receiver_msp.js
  src/js/receiver_msp/receiver_msp.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update index.html
  src/index.html
Due: none

Add support for 230K baudrate for GPS
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Reduced Custom Airplane mixer min motor count
  src/js/model.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add 230K4 baudrate support for GPS (#4317)
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update Vue
  package.json
  src/components/data-flash/DataFlash.vue
  src/components/eventBus.js
  src/components/init.js
  src/components/port-picker/FirmwareVirtualOption.vue
  src/components/port-picker/PortOverrideOption.vue
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/components/quad-status/BatteryIcon.vue
  src/components/quad-status/BatteryLegend.vue
  src/components/quad-status/BottomStatusIcons.vue
  src/components/sensor-status/SensorStatus.vue
  src/components/status-bar/PortUtilization.vue
  src/components/status-bar/ReadingStat.vue
  src/components/status-bar/StatusBar.vue
  src/components/status-bar/StatusBarVersion.vue
  src/components/vueI18n.js
  src/js/port_handler.js
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix sonar
  src/components/data-flash/DataFlash.vue
  src/components/init.js
  src/components/port-picker/PortPicker.vue
  src/components/port-picker/PortsInput.vue
  src/components/status-bar/StatusBar.vue
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

Ports-tab SerialRX help-tip
  locales/en/messages.json
  src/css/tabs/ports.less
  src/tabs/ports.html
Due: prettier --write --ignore-unknown

Ports-tab SerialRX help-tip verbiage
  locales/en/messages.json
Due: none

Remove obsolete MSP
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

modify Altitude Hold verbiage
  locales/en/messages.json
Due: none

fix link
  locales/en/messages.json
Due: none

modify ALTITUDE_HOLD mode verbiage (#4329)
  locales/en/messages.json
Due: none

update eslint-config-prettier@^10.0.1
  package.json
  yarn.lock
Due: none

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/es/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
Due: none

update eslint-config-prettier@^10.0.1 (#4330)
  package.json
  yarn.lock
Due: none

Remove unused MSP message (#4325)
  src/js/tabs/configuration.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Revert reducing number of rate profiles
  src/js/tabs/pid_tuning.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue
