Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

fix: Remove import of non-existent receiver.less file
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: Remove import of non-existent motors.less file
  src/js/browserMain.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: Remove unnecessary imports of defineProps and defineEmits
  src/components/tabs/led_strip/LedGrid.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix preset details bottom bar on mobile (#4763)
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.html
  src/tabs/presets/DetailedDialog/PresetsDetailedDialog.less
Due: prettier --write --ignore-unknown

Fix servos UI on mobile (#4767)
  src/css/main.less
  src/css/tabs/servos.less
Due: prettier --write --ignore-unknown

Responsive GPS tab (#4768)
  src/css/tabs/gps.less
Due: prettier --write --ignore-unknown

Fix broken link to wiki for ports-tab (#4785)
  src/components/tabs/ConfigurationTab.vue
  src/components/tabs/PortsTab.vue
  src/components/tabs/ServosTab.vue
  src/js/gui.js
  src/tabs/presets/presets.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update ImpulseRC Driver Fixer link (#4829)
  locales/en/messages.json
  locales/zh_CN/messages.json
Due: none

Fix: Add GLTF models to service worker caching for offline use (#4856)
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Bump version from 2025.12.1 to 2025.12.2
  package.json
Due: none

fix: Eliminate timing race condition with dual rebootTimestamp tracking (#4862)
  src/components/tabs/led_strip/LedGrid.vue
  src/composables/useReboot.js
  src/js/browserMain.js
  src/js/serial_backend.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Adding 'Slider Master Multiplier' to the Adjustment Dropdown List
  locales/en/messages.json
  src/components/tabs/AdjustmentsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add adjCenter and adjScale to Adjustments Tab
  locales/en/messages.json
  src/components/tabs/AdjustmentsTab.vue
  src/js/VirtualFC.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(osd): migrate styles to SFC and remove legacy files
  src/components/tabs/OsdTab.vue
  src/css/tabs/osd.less
  src/js/browserMain.js
  src/tabs/osd.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(osd): enable Vue tab and add virtual mode support
  src/js/main.js
  src/js/serial_backend.js
  src/js/tabs/osd.js
  src/stores/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

RFC: Add AGENTS.md for VueJS 3 development standards
  AGENTS.md
Due: none

fix(osd): CSS cleanup, RMC position fix, and store improvements
  src/components/tabs/OsdTab.vue
  src/js/tabs/osd_constants.js
  src/js/tabs/osd_positions.js
  src/stores/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix SonarCube issues: Extract OSD preview helper functions, update character code retrieval to `codePointAt`, and remove unused offset calculations.
  src/components/tabs/OsdTab.vue
  src/composables/useOsdPreview.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

BUILD: Adding release workflow for deployments
  .github/workflows/build-release.yml
Due: none

Adding common cloudflare deployment
  .github/workflows/build-release.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy_cloudflare.yml
Due: none

Adding latest tag delay as per rabbit
  .github/workflows/build-release.yml
Due: none

Fixed rabbit concerns
  .github/workflows/build-release.yml
Due: none

Using commit hash for cloudflare wrangler action. Added check for legacy branch names for the pr.yml (so that modern versions do not trigger it)
  .github/workflows/deploy_cloudflare.yml
  .github/workflows/pr.yml
Due: none

The environment is not set until entering the deploy_cloudflare.yml
  .github/workflows/build-release.yml
  .github/workflows/deploy.yml
  .github/workflows/deploy_cloudflare.yml
Due: none

Change file name convention to PascalCase
  AGENTS.md
Due: none

Adding Adjustment tabs
  src/components/tabs/AdjustmentsTab.vue
  src/js/VirtualFC.js
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/da/messages.json
Due: none

Fix syntax error in osd.js
  src/components/tabs/OsdTab.vue
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix linting issues in OsdTab.vue and osd.js
  src/components/tabs/OsdTab.vue
  src/js/tabs/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

docs: improve AGENTS.md guidelines and fix coderabbit suggestions
  AGENTS.md
Due: none

FIX: Core build mode now correctly hides build options instead of expert options
  src/components/tabs/FirmwareFlasherTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Restore OSD Vue migration parity with legacy behavior
  src/components/tabs/OsdTab.vue
  src/js/tabs/osd.js
  src/stores/osd.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix: update GNSS provider for API 1.47+
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix missing closing parenthesis in sensor_types.js
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix missing closing parenthesis in version check
  src/js/sensor_types.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix OSD alarms row layout and binding parity
  src/components/tabs/OsdTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add deep watch for feature changes in GpsTab
  src/components/tabs/GpsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Refactor GPS feature enabling in PortsTab.vue
  src/components/tabs/PortsTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

FIX: Core build mode now correctly hides build options instead of expert options (#4870)
  src/components/tabs/FirmwareFlasherTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue
