Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

.lintstagedrc.json:

{
    "**/*.{js,vue}": [
        "prettier --write --ignore-unknown",
        "eslint --fix --ext .js,.vue"
    ],
    "**/*.{less,css}": ["prettier --write --ignore-unknown"]
}

feat(blackbox-viewer): 3D flight view synced to the log cursor
  package-lock.json
  package.json
  src/blackbox-viewer/App.vue
  src/blackbox-viewer/components/Flight3DPanel.vue
  src/blackbox-viewer/components/ViewControls.vue
  src/blackbox-viewer/flight3d/fcAttitude.ts
  src/blackbox-viewer/flight3d/flightScene.ts
  src/blackbox-viewer/flight3d/flightTrack.ts
  src/blackbox-viewer/flight3d/tileGround.ts
  src/blackbox-viewer/graph_map.js
  src/blackbox-viewer/log_lifecycle.js
  src/blackbox-viewer/playback_controls.js
  src/blackbox-viewer/stores/graph.js
  src/blackbox-viewer/user_settings_data.js
  test/blackbox-viewer/Flight3DPanel.test.ts
  test/blackbox-viewer/flight3d/fcAttitude.test.ts
  test/blackbox-viewer/flight3d/flightScene.test.ts
  test/blackbox-viewer/flight3d/flightTrack.test.ts
  test/blackbox-viewer/flight3d/tileGround.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(blackbox-viewer): show the marker until the quad loads; raise the tile budget
  src/blackbox-viewer/flight3d/flightScene.ts
  src/blackbox-viewer/flight3d/tileGround.ts
  test/blackbox-viewer/flight3d/flightScene.test.ts
  test/blackbox-viewer/flight3d/tileGround.test.ts
Due: none

Clean unused strings in messages.json
  locales/en/messages.json
Due: none

ADRC: Review of configurator help text
  locales/en/messages.json
Due: none

feat: say where support comes from for manufacturer supported and local firmware
  locales/en/messages.json
Due: none

ADRC: tooltip wording from danusha2345's review
  locales/en/messages.json
Due: none

refactor(blackbox): convert fft to TS (#5593)
  src/js/blackbox/fft.ts
  src/js/blackbox/spectral_analysis.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add radar peer and radar HUD OSD elements
  locales/en/messages.json
  src/components/tabs/osd/osd.js
  src/js/build_options.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: address review feedback (round 3)
  src/components/tabs/FirmwareFlasherTab.vue
  src/composables/ports/usePortsConfiguration.ts
  src/composables/useBoardSelection.ts
  src/composables/useCloudBuild.ts
  src/composables/useFirmwareFlashing.ts
  src/composables/usePower.ts
  src/js/device_handler.ts
  src/js/protocols/webstm32.ts
  src/js/utils/AutoBackup.ts
  src/js/utils/osdFont.ts
  src/js/workers/hex_parser.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: reject non-finite waypoints and unreadable logo files
  src/composables/useFlightPlan.ts
  src/js/LogoManager.ts
  test/js/logo_manager.test.ts
  test/js/useFlightPlan.test.ts
Due: none

fix(flasher): processHex has nothing to await (S7503)
  src/composables/useFirmwareFlashing.ts
Due: none

refactor(utils): convert boardAlignment to TS (#5592)
  src/js/utils/boardAlignment.ts
  test/js/boardAlignment.test.ts
Due: none

Clean unused strings in messages.json (#5600)
  locales/en/messages.json
Due: none

chore(debug): regenerate debug tables for firmware PR #15196 (CHIRP and FLIGHTPLAN) (#5595)
  src/js/debug_fields_table.ts
  src/js/debug_modes_table.ts
  test/generated/debug_field_usage.json
Due: none

fix(board-alignment): type the detection result as a union
  src/js/utils/boardAlignment.ts
Due: none

Regenerated debug modes info files to follow the last firmware version
  src/js/debug_fields_table.ts
  src/js/debug_modes_table.ts
  test/generated/debug_field_usage.json
Due: none

refactor(composables): convert the small composables to TypeScript (#5587)
  src/composables/ports/portClaims.ts
  src/composables/useIsMounted.js
  src/composables/useIsMounted.ts
  src/composables/useTimeout.js
  src/composables/useTimeout.ts
  src/composables/useTransientLabel.js
  src/composables/useTransientLabel.ts
  test/js/portClaims.test.ts
  test/js/ports_peripherals.test.ts
  test/js/useIsMounted.test.ts
  test/js/useTimeout.test.ts
  test/js/useTransientLabel.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(android): prefer Capacitor safe-area inset variables
  src/css/main.less
Due: prettier --write --ignore-unknown

refactor(ports): convert featureBaudRates to TypeScript
  src/composables/ports/featureBaudRates.js
  src/composables/ports/featureBaudRates.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(ports): convert portNames to TypeScript
  src/composables/ports/portNames.ts
Due: none

refactor(ports): convert softSerial to TypeScript
  src/composables/ports/softSerial.js
  src/composables/ports/softSerial.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(ports): convert usePortsReadOnly to TypeScript
  src/composables/ports/usePortsReadOnly.js
  src/composables/ports/usePortsReadOnly.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(ports): convert usePeripherals to TypeScript
  src/composables/ports/usePeripherals.ts
  src/composables/useMspCliSession.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor(motors): convert useMotorsState to TypeScript
  src/composables/motors/useMotorsState.ts
  test/js/composables/motors/useMotorsState.test.ts
Due: none

refactor(motors): convert useMotorConfiguration to TypeScript
  src/composables/motors/useMotorConfiguration.ts
  test/js/composables/motors/useMotorConfiguration.test.ts
Due: none

refactor(motors): convert useMotorDataPolling to TypeScript
  src/composables/motors/useMotorDataPolling.ts
  test/js/composables/motors/useMotorDataPolling.test.ts
Due: none

wings tpa_speed_, tpa_curves_ params exluded from common Wing group
  src/blackbox-viewer/components/HeaderDialog.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

The wings TPA and speed curves settings added at Blackbox explorers header tab
  src/blackbox-viewer/components/HeaderDialog.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

ci(android): publish the Capacitor app to Play and attach its APK to releases
  .github/workflows/android-play-release.yml
  .github/workflows/build-release.yml
  android/app/build.gradle
  android/app/src/main/res/values/strings.xml
  capacitor.config.base.json
Due: none

CI: disable coderabbit docstrings pre-merge checks (#5580)
  .coderabbit.yaml
Due: none

fix(android): prefer Capacitor safe-area inset variables (#5604)
  src/css/main.less
Due: prettier --write --ignore-unknown

refactor(blackbox-viewer): address SonarCloud findings in the 3D flight view
  src/blackbox-viewer/flight3d/flightScene.ts
  src/blackbox-viewer/flight3d/flightTrack.ts
Due: none

fix(autotune): store the bare P interval in the denominator
  src/js/blackbox/chirp_bbl_parser.ts
  test/js/blackbox_chirp_p_interval.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(autotune): require confirmation before applying gains
  locales/en/messages.json
  src/components/tabs/autotune/GainRecommendation.vue
  test/components/autotuneApplyGate.test.ts
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add global settings search
  locales/en/messages.json
  scripts/vite-plugin-settings-search.mjs
  src/components/elements/UiBox.vue
  src/components/settings-search/SettingsSearch.vue
  src/components/settings-search/settingsSearch.ts
  src/components/sidebar/Sidebar.vue
  src/components/tabs/ConfigurationTab.vue
  src/components/tabs/FirmwareFlasherTab.vue
  src/components/tabs/PidTuningTab.vue
  src/components/tabs/SensorsTab.vue
  src/types/settings-search.d.ts
  test/settingsSearch.test.ts
  test/settingsSearchIndexPlugin.test.mjs
  vite.config.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add search keys for setting rows without translated labels
  locales/en/messages.json
  src/components/tabs/MotorsTab.vue
  src/components/tabs/ReceiverTab.vue
  src/components/tabs/SensorsTab.vue
  src/components/tabs/firmware-flasher/FlasherBoardBuildTab.vue
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix: PSAS debug mode index and ChartCurve label type
  src/components/tabs/pid-tuning/WingCurvesChart.vue
  test/js/utils/debugModes.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

fix(autotune): store the bare P interval in the denominator (#5614)
  src/js/blackbox/chirp_bbl_parser.ts
  test/js/blackbox_chirp_p_interval.test.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue
