Repository betaflight/betaflight-configurator: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/de/messages.json
  locales/es/messages.json
  locales/eu/messages.json
  locales/fr/messages.json
  locales/gl/messages.json
  locales/it/messages.json
  locales/ja/messages.json
  locales/ko/messages.json
  locales/nl/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
  locales/pt_BR/messages.json
  locales/ru/messages.json
  locales/uk/messages.json
  locales/zh_CN/messages.json
  locales/zh_TW/messages.json
Due: none

Disable motor protocols not included in build (#4373)
  src/js/tabs/motors.js
  src/js/utils/EscProtocols.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Disable port elements depending on build options (#4374)
  src/js/tabs/ports.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Migrate ESLint Configuration (#4375)
  .eslintignore
  .eslintrc.js
  eslint.config.js
  package.json
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Run lint
  src/components/eventBus.js
  src/components/quad-status/BottomStatusIcons.vue
  src/components/sensor-status/SensorStatus.vue
  src/components/status-bar/ReadingStat.vue
  src/components/status-bar/StatusBarVersion.vue
  src/js/jquery.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove cordova remnants
  .gitignore
  .prettierignore
  eslint.config.js
  src/js/gui.js
  src/js/main.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove more after review McGivergim
  src/js/gui.js
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Run lint (#4377)
  src/components/eventBus.js
  src/components/quad-status/BottomStatusIcons.vue
  src/components/sensor-status/SensorStatus.vue
  src/components/status-bar/ReadingStat.vue
  src/components/status-bar/StatusBarVersion.vue
  src/js/jquery.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove cordova remnants (#4378)
  .gitignore
  .prettierignore
  eslint.config.js
  src/js/gui.js
  src/js/main.js
  src/js/tabs/options.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Upgrade Vite
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Upgrade Vite (#4380)
  package.json
  vite.config.js
  yarn.lock
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Update husky
  package.json
  yarn.lock
Due: none

Update husky (#4383)
  package.json
  yarn.lock
Due: none

Fix dual telemetry in receiver tab for local builds (#3923)
  src/js/Features.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add assistance for OSD selection
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

cleanup
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

[10.10.1] macos-13 github runner
  .github/workflows/ci.yml
Due: none

improve
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

refactor
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add assistance for OSD selection (#4385)
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Add support for smix reverse
  src/js/tabs/servos.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Reverse can be applied to multiple channels - display for now
  src/js/msp/MSPHelper.js
  src/js/tabs/servos.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix spacing in display of arming disable flags
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Update translations
  locales/ca/messages.json
  locales/da/messages.json
  locales/it/messages.json
  locales/ko/messages.json
  locales/pl/messages.json
  locales/pt/messages.json
Due: none

Fix intermittent backup corruption
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix sonar
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix persistence issue and add debugging
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix spacing in display of arming disable flags (#4389)
  src/css/tabs/setup.less
Due: prettier --write --ignore-unknown

Fix intermittent backup corruption (#4392)
  src/js/utils/AutoBackup.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Remove unstable configurator check
  src/js/main.js
  src/js/tabs/options.js
  src/js/utils/checkForConfiguratorUpdates.js
  src/tabs/options.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix flasher stylesheet hierarchy
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Add tab_container reveal/hide behavior
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Fix flasher stylesheet hierarchy (#4398)
  src/css/tabs/firmware_flasher.less
Due: prettier --write --ignore-unknown

Add message for flashing not continuing after backup cancelled
  locales/en/messages.json
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Use INVALID
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Wait for port to be available again
  src/js/tabs/firmware_flasher.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Automatically hide background and tab_container when resizing to a non-mobile resolution
  src/js/main.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

hover point throttle curve adjustment
  locales/en/messages.json
  src/js/fc.js
  src/js/tabs/pid_tuning.js
  src/tabs/pid_tuning.html
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

added throttle_HOVER reading/writing via MSP
  src/js/msp/MSPHelper.js
Due: prettier --write --ignore-unknown, eslint --fix --ext .js,.vue

Path conditions:
  prettier --write --ignore-unknown: (any of: **/*.{js,vue}) or (any of: **/*.{less,css})
  eslint --fix --ext .js,.vue: any of: **/*.{js,vue}
